* {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style-type: none;
  background-color: rgb(248, 184, 161);
  padding: 1rem;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.movie-card img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.navbar .active {
  color: red;
}
